<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec5b3b21-542d-4b3f-93f7-8d6de7171281" Alias="genericPage" Level="1">
  <Info>
    <Name>GenericPage</Name>
    <Icon>icon-window-popin color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="a8b07fc5-1205-47ef-9d56-ea06eadd8fd8">genericContent</Composition>
    </Compositions>
    <DefaultTemplate>generic</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="baf91442-ec45-4651-9e67-85314a2c785e">generic</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ec5b3b21-542d-4b3f-93f7-8d6de7171281">genericPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d45a1b38-01e7-4850-bba0-210c25904974</Key>
      <Name>Free Content</Name>
      <Alias>freeContent</Alias>
      <Definition>a1d48a42-eb3e-448a-9de0-13a3e9217610</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Free Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Free Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>