<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="474e37a7-12e6-4bc4-84e9-0173bfdcd343" Alias="home" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="3634617a-e520-48d0-bf99-66a133214de9">banner</Composition>
      <Composition Key="57c54b77-ff25-4a69-84bd-9f70245f51f1">titleAndContent</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="56e7cc30-7140-45a2-8a34-176713211ce0">home</Template>
      <Template Key="6bcbbcc3-b314-4ef6-9f23-958687d9456a">homeV1</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3634617a-e520-48d0-bf99-66a133214de9">banner</ContentType>
    <ContentType Key="ec5b3b21-542d-4b3f-93f7-8d6de7171281">genericPage</ContentType>
    <ContentType Key="8151f482-c86e-4f3a-991e-7d68ae16530f">mMFolder</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>145152da-382a-40da-9a17-b61788125e0a</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content of the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Home properties</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>96098fee-8898-4d9b-9feb-437bf51b4548</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>17f90af1-8108-4e48-884f-bfbdb7970b54</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title of the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Home properties</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Home properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>