<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8151f482-c86e-4f3a-991e-7d68ae16530f" Alias="mMFolder" Level="2">
  <Info>
    <Name>MM Folder</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Basic+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1e108966-0706-4be1-b49c-9021b9652713">titleImage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>