<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d8ea64b-b3ec-4a39-9e5a-78e413d8b78b" Alias="mmTitleImage" Level="2">
  <Info>
    <Name>MM Title Image</Name>
    <Icon>icon-spades color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content+DocTypes</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>21dc8d15-831f-4fcd-a05a-26dd516c0b9e</Key>
      <Name>Heading</Name>
      <Alias>rHeading</Alias>
      <Definition>7be9f80e-fa26-40c5-9b3a-5f29034d4f03</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mian Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4a42cb5a-d90c-4b66-8e9d-4013c84be241</Key>
      <Name>Image</Name>
      <Alias>rImage</Alias>
      <Definition>9ff1a1af-f839-4cbf-b682-198ef71de239</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mian Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Mian Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>