<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6ac14aa4-14f2-4ef9-ae6b-7447a6e20adc" Alias="mMTitleContentRender" Level="2">
  <Info>
    <Name>MM Title Content Render</Name>
    <Icon>icon-favorite color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content+DocTypes</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e8697c79-4aaa-483c-abc1-d8b5461de5de</Key>
      <Name>Content</Name>
      <Alias>rContent</Alias>
      <Definition>85e91f5f-5ffc-4d57-8053-f98b5f86a654</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>966962dd-bdd5-460e-8362-44e0c0261f94</Key>
      <Name>Title</Name>
      <Alias>rTitle</Alias>
      <Definition>ee1e293a-0bb5-4fb6-96df-c1a214fa6c1b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>