<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1e108966-0706-4be1-b49c-9021b9652713" Alias="titleImage" Level="2">
  <Info>
    <Name>Title Image</Name>
    <Icon>icon-certificate color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Basic+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f69a5e01-9d60-4b19-9022-4f873c314f4c</Key>
      <Name>Content</Name>
      <Alias>tiContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Title Image section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>42b476a2-7140-4782-9d66-049a8eda3f8f</Key>
      <Name>Image</Name>
      <Alias>tiImage</Alias>
      <Definition>c86835d2-7bda-4ae0-a21c-16df179035ca</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Title Image section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ad3e4b4e-6c43-40ec-907e-25d2e51ad609</Key>
      <Name>Title</Name>
      <Alias>tiTitle</Alias>
      <Definition>55779f90-f9e1-4c68-a9f7-3efbf8295e6e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Title Image section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Title Image section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>