@inherits Umbraco.Web.Mvc.UmbracoViewPage<MmTitleImage>
<article>
    <div class="content">
        <header>
            <h3>@Model.RHeading</h3>
        </header>
        <div class="image fit">
             <img src="@Model.RImage.Url" alt=""/>
        </div>
    </div>
</article>

