@inherits Umbraco.Web.Mvc.UmbracoViewPage<MmTitleContentRender>
<article>
    <div class="content">
        <header>
            <h3>@Model.RTitle</h3>
        </header>
        <p>@Model.RContent</p>
    </div>
</article>


