<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58495c84-636c-4b90-aee1-bc9c3a9bd2bf" Alias="Banner - Main Image - Media Picker" Level="1">
  <Info>
    <Name>Banner - Main Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>35</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null
}]]></Config>
</DataType>