<?xml version="1.0" encoding="utf-8"?>
<DataType Key="965337f2-a718-4c0b-bc08-51963a242de0" Alias="Banner - subHead - Textarea" Level="1">
  <Info>
    <Name>Banner - subHead - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>40</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>