<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56429572-1175-4596-8b6f-4fa004545d2c" Alias="Banner - JuanMa - Textarea" Level="1">
  <Info>
    <Name>Banner - JuanMa - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>44</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>