<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a60373d3-2ca4-4104-aa7d-a168ea1c69da" Alias="Generic Content - Head - Textbox" Level="1">
  <Info>
    <Name>Generic Content - Head - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>38</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>