<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4805c403-fd5e-4329-a518-9c4ed666fb55" Alias="Generic Content - Title - Textbox" Level="1">
  <Info>
    <Name>Generic Content - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>37</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>