<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f1fded5-3469-4f87-b929-f584c93ba503" Alias="Generic Content - Image - Media Picker" Level="1">
  <Info>
    <Name>Generic Content - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>39</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null
}]]></Config>
</DataType>