<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0c83a2a-6898-4b15-8fc3-aae3a3288108" Alias="Home - Page Title - Textbox" Level="1">
  <Info>
    <Name>Home - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>30</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 250
}]]></Config>
</DataType>