<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7be9f80e-fa26-40c5-9b3a-5f29034d4f03" Alias="MM Title Image - Heading - Textbox" Level="1">
  <Info>
    <Name>MM Title Image - Heading - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>47</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>