<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ff1a1af-f839-4cbf-b682-198ef71de239" Alias="MM Title Image - Image - Media Picker" Level="1">
  <Info>
    <Name>MM Title Image - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>48</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null
}]]></Config>
</DataType>