<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee1e293a-0bb5-4fb6-96df-c1a214fa6c1b" Alias="MM Title Content Render - Title - Textbox" Level="1">
  <Info>
    <Name>MM Title Content Render - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>45</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>