<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85e91f5f-5ffc-4d57-8053-f98b5f86a654" Alias="MM Title Content Render - Content - Rich Text Editor" Level="1">
  <Info>
    <Name>MM Title Content Render - Content - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>46</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false
}]]></Config>
</DataType>