<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f07516f2-b81b-4a95-bebb-1c1155230cb5" Alias="NC Page Builder" Level="2">
  <Info>
    <Name>NC Page Builder</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mMTitleContentRender",
      "ncTabAlias": "Main section",
      "nameTemplate": ""
    },
    {
      "ncAlias": "mMTitleImage",
      "ncTabAlias": "Mian Section",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>