<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17f90af1-8108-4e48-884f-bfbdb7970b54" Alias="Page Title" Level="1">
  <Info>
    <Name>Page Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>31</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 250
}]]></Config>
</DataType>