<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11b62ff2-574f-47f5-939a-83fe619d868b" Alias="Sample - Prop1 - Textbox" Level="1">
  <Info>
    <Name>Sample - Prop1 - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>32</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>