<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55779f90-f9e1-4c68-a9f7-3efbf8295e6e" Alias="Title Image - Title - Textbox" Level="1">
  <Info>
    <Name>Title Image - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>41</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>