<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c86835d2-7bda-4ae0-a21c-16df179035ca" Alias="Title Image - Image - Media Picker" Level="1">
  <Info>
    <Name>Title Image - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>42</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null
}]]></Config>
</DataType>