@inherits Umbraco.Web.Mvc.UmbracoViewPage<ITitleAndContent>

<section id="one">
    <div class="inner">
        <header>
           <h2>@Model.TcHeading</h2>
        </header>
        <p>@Model.TcContent</p>
        <ul class="actions">
            @foreach (var item in Model.TcCta)
            {
                <li><a href="@item.Url" class="button alt">@item.Name</a></li>
            }
        </ul>
    </div>
</section>
